.jumbotron
    .admin-widget-container
        nav.nav.nav-pills
            a.nav-item.nav-link.active 用户管理
        .admin-pane.admin-pane-user
            .table-container
                table.table.table-sm.table-hover
                    thead
                        th(scope='col' width="130px") 昵称
                        th(scope='col' width="180px") 邮箱
                        th(scope='col' width="90px") 注册时间
                        th(scope='col' width="110px") 徽章
                        th(scope='col' width="55px") 操作
                    tbody#user-list
            .paginate-container.userlist-pagination-container
                .d-inline-block.pagination.userlist-pagination(role='navigation' aria-label='Pagination')

    button.admin-widget-load-btn.btn.btn-primary.btn-block(type='button') 载入管理面板

    script(src="/js/widget/admin.js" aysnc)
    link(rel="stylesheet" href="/css/widget/admin.css")
