.jumbotron
    .admin-widget-container
        nav.nav.nav-pills
            a.nav-item.nav-link.active 用户管理
        .admin-pane.admin-pane-user
            .user-filter-container.form-inline
                input#userFilterInput.form-control.form-control-sm(type='text' placeholder='搜索')
                button#userFilterBtn.btn.btn-sm.btn-primary(type='button')
                    span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
                    span.btn-text 搜索
                    

            .table-container
                table.table.table-sm.table-hover
                    thead
                        th(scope='col' width="130px") 昵称
                        th(scope='col' width="180px") 邮箱
                        th(scope='col' width="90px") 注册时间
                        th(scope='col' width="110px") 徽章
                        th(scope='col' width="55px") 操作
                    tbody#user-list
            .paginate-container.userlist-pagination-container
                .d-inline-block.pagination.userlist-pagination(role='navigation' aria-label='Pagination')

    button.admin-widget-load-btn.btn.btn-primary.btn-block(type='button') 载入管理面板

    script(type="text/javascript")
        include ./admin.js
    style
        include ./admin.css
