/*
 * Note that this is toastr v2.1.3, the "latest" version in url has no more maintenance,
 * please go to https://cdnjs.com/libraries/toastr.js and pick a certain version you want to use,
 * make sure you copy the url from the website since the url may change between versions.
 * */
.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.8;
  line-height: 1;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-position: 15px center;
  background-repeat: no-repeat;
  color: #ffffff;
  opacity: 0.8;
}
#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center;
}
#toast-container > div:hover {
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAx0lEQVR4Ad3RERACQRiG4YUgCHJ3hyAL8gnDIMg5DM4nzCefMDin8OAgyCl4kptJ9vZqW+qZ+fnd+Tb8N4ywwBE1mu6uqDAPubDEzbAas29fvfedJ7afBg7ypSNY+c2zdy6M0UgIHWl1X2ANBQIwjwXOyqligVY510jgI1V3Q5pooOAftLHAvWCgjgUuBQPHWGBTMLCIBaZ4SNt1l3LDKMRg63fLkIKTfPswBJPMyKF3msRcD8MarEIOTLHBBXdvLc5YYxz+2gtrNgAtm1mLsQAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAxUlEQVR4Ad3RERACQRiG4YUgCHJ3hyAL8gnDIMg5DM4nzCefMDin8OAgyCl4kptJ9m5rW+qZ+fnd+Tb8N4ywwBE1mu6uqDAPubDETVqN2bev3vvOE9tPAweZkhGs/ObZOxfGaAyruhtS9wXWEkJH2jwWOBcMVLFAWzBwjQUUDDRZAey6S2ljgbty6ljgopxjLLAp+AeLWGCKR4HADaMQg63fLcMQnOTbhxRMMiOH3mkG5npIa7AKOTDFBhfcvbU4Y41x+GsvYwkALV+gmMUAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA6ElEQVR4Ad3QEZACURzH8QcLQZC7OxxkQT7hYhCccxjkEx4G4UG4sHA+4cJCkFPwOQkW/tPu27U++Gbe7/vmpc+GAiucUKNBgwpHLKeMr3HTr8ZX7qv38jyxGxo4GKk3go1pnoi/CzM08l1Q4gao4wClfGcUr/t/AFhGgcuE8SO6jlGgBdPHoYoCXRVKVPLHoekLnF9nc1SZ49BGgTu6vruRjHGoo8AViCMZ43CKAlsgjmSMwyoKLPAQO+PXMDcUKYKd6dbpHfwYb5/6YD4yckCRhsIOD/0abNIYWGCLK+4AaHFBiVn6aP+hBu3k3fGzPQAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAvUlEQVR4AWMYOmAU/P//XwWINwPxfCCWoLbhEkD8+T8CPAZiDqpZAHY1JqinluEW/7GD70CsQA0Ljv/HDZZTanj0f8LAhlzDeYD4OZph/WCMCs4DMQs5FjSjOxUuhwmSyUnz30mw4DUQC5BiwWoc4Z0PxthBN7GGO/8nD/wGYg1ChrMA8eX/5IPthCxIx6cbrg4/cMdluAAQv6eCBbexJltw5FEPOGCzoJp2FiCCqB2W/slNSdA6g4foPDEKAE2eRB2zogd8AAAAAElFTkSuQmCC") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #6c757d;
}
.toast-success {
  background-color: #28a745;
}
.toast-error {
  background-color: #dc3545;
}
.toast-info {
  background-color: #007bff;
}
.toast-warning {
  background-color: #fd7e14;
}
.toast,
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  transition: box-shadow 0.15s cubic-bezier(0.3, 0, 0.5, 1);
  box-shadow: 0 0 0 0 transparent;
}
.toast:hover {
  box-shadow: 0 0 0 0.15rem rgba(108, 117, 125, 0.5);
}
.toast-success:hover {
  box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, 0.5);
}
.toast-error:hover {
  box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.5);
}
.toast-info:hover {
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.5);
}
.toast-warning:hover {
  box-shadow: 0 0 0 0.15rem rgba(253, 126, 20, 0.5);
}
.toast-progress:hover {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px;
  }
}
